<div class="w-full lg:h-screen font-light">
  <nav class="flex justify-around lg:grid lg:grid-cols-1 gap-3">
    <div class="items-center gap-3  lg:flex hidden">
      <p-avatar
        [label]="
          !currentUser.profileImageUrl
            ? (currentUser.first_name.charAt(0) || '') +
              (currentUser.last_name.charAt(0) || '')
            : undefined
        "
        [image]="currentUser.profileImageUrl"
        size="normal"
        shape="circle"
        class=""
      />
      <ul class="grid">
        <li class="truncate">{{ currentUser.first_name + " " + currentUser.last_name }}</li>
        <li class="text-sm text-gray-400 truncate">{{ currentUser.role_name }}</li>
      </ul>
    </div>
    <ul class="flex lg:block">
      <li *ngFor="let menu of menuItems">
        <a
          [routerLink]="menu.path"
          routerLinkActive="text-blue-500 lg:border-r-4 lg:border-blue-500"
          class="p-3 lg:pl-6 lg:py-3 hover:bg-gray-800 hover:text-blue-500 flex items-center gap-3"
        >
          <i [class]="menu.icon" class="text-lg"></i>
          <h2 class="lg:block hidden">{{ menu.label }}</h2>
        </a>
      </li>
    </ul>
    <ul class="flex lg:block">
      <li *ngFor="let menu of menuItems2">
        <a
          [routerLink]="menu.path"
          routerLinkActive="text-blue-500 lg:border-r-4 lg:border-blue-500"
          class="p-3 lg:pl-6 lg:py-3 hover:bg-gray-800 hover:text-blue-500 flex items-center gap-3"
        >
          <i [class]="menu.icon" class="text-lg"></i>
          <h2 class="lg:block hidden">{{ menu.label }}</h2>
        </a>
      </li>
    </ul>
  </nav>
</div>
